*{
	margin: 0;
	padding: 0;
}

html , body{
	height: 100%;
}
a{
	text-decoration: none;
}

.wrap{
	margin: 0 auto;
	text-align: center;
	
}
.header-top{
	background: rgba(0,0,0,0.6);
	height: 90px;
	width: 100%;
	position: fixed;
	left: 0px;
}
.header-logo,.header-nav,.header-nav li ,.header-right{
	display: inline-block;
	height: 90px;
	line-height: 90px;
}
.header-logo{
	margin-left:-50px;
}
.header-nav li{
	vertical-align: middle;
	line-height: 10px;
	margin: 0 15px;
	
}
.header-nav li a{
	color: white;
}
.header-nav li a:hover{
	color: red;
}
.header-right{
	vertical-align:top;
	line-height: 100px;
	margin-left: 30px ;
}

.header-right a{
	display: inline-block;
	line-height: 40px;
	width: 120px;
	
	color: goldenrod;
	border: solid 1px gold;
	border-radius: 18px;
}
.header-right a:first-of-type{
	width: 80px;
}
.header-right a:last-of-type{
	background: gold;
	color: goldenrod;
}
.header-right a:hover{
	background: gold;
}
footer{
	text-align: center;
	background: rgba(0,0,0,0.7);
	width: 100%;
}
section img{
	vertical-align: bottom;
}

.WS{
	color: white;
}
.WS:hover{
	color: red;
}
footer ul li{
	display: inline-block;
	line-height: 60px;
	margin: 0 20px ;
}
footer ul li span:first-of-type{
	display: block;
	height: 85px;
	width: 100PX;
	
	background: url(../img/sprites_footer.png)no-repeat;
}
footer ul li:nth-of-type(1) span:first-of-type{
	background-position: 0px 0px;
}
footer ul li:nth-of-type(1) span:first-of-type:hover{
	background-position: -100px 0px;
}
footer ul li:nth-of-type(2) span:first-of-type{
	background-position: 0px -100px;
}
footer ul li:nth-of-type(2) span:first-of-type:hover{
	background-position: -100px -100px;
}
footer ul li:nth-of-type(3) span:first-of-type{
	background-position: 0px -200px;
}
footer ul li:nth-of-type(3) span:first-of-type:hover{
	background-position: -100px -200px;
}
footer ul li:nth-of-type(4) span:first-of-type{
	background-position: 0px -300px;
}
footer ul li:nth-of-type(4) span:first-of-type:hover{
	background-position: -100px -300px;
}
footer ul li:nth-of-type(5) span:first-of-type{
	background-position: 0px -400px;
}
footer ul li:nth-of-type(5) span:first-of-type:hover{
	background-position: -100px -400px;
}
footer ul li:nth-of-type(6) span:first-of-type{
	background-position: 0px -500px;
}
footer ul li:nth-of-type(6) span:first-of-type:hover{
	background-position: -100px -500px;
}
footer ul li:nth-of-type(7) span:first-of-type{
	background-position: 0px -600px;
}
footer ul li:nth-of-type(7) span:first-of-type:hover{
	background-position: -100px -600px;
}
